
html {
    height: 100%;
}
body {
    min-height: 100%;
}

body {
    background: url(/theme/img/slide-photo/promo_.jpg) no-repeat center center fixed;
    background-size: cover;
}

@media (max-width: 768px) {
    body {
        background: url(/theme/img/slide-photo/promo_mobile.png) no-repeat center center fixed;
        background-size: cover;
    }
}

.register-form{
    padding: 30px;
    background-color: rgb(228, 228, 228);
    background-color: rgba(255, 255, 255, 0.2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(228, 228, 228, 0.75), endColorstr=rgba(228, 228, 228, 0.75));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    inset 0px 1px 3px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         inset 0px 1px 3px 0px rgba(50, 50, 50, 0.6);

}
#content {
    background: none;
}

h2 > p {
    margin-top: -20px;
    color: black !important;
    font-size: 14px !important;
    border-bottom: 1px dotted black;
}

.logo {
    margin-bottom: 20px;
    text-align: center;
}

#login{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

#login .block-login{
    width: 370px;
    min-height: 290px;
}