/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.08.2017, 14:04:25
    Author     : korgan
*/
.clickable{
    cursor: pointer;
}
#docMenu{
    list-style-type: none;
    text-align: left;
    padding-left: 5px;
    cursor: pointer;
}
#docMenu li{
    
    font-size: 20px;
}
#docMenu li:hover{
    color: red;
    bg-color: grey;
}
.tabsNav{
    display: block;
    overflow: hidden;
    list-style: none;
}
.tabsNav li{
    float: left;
    margin: 10px;
}
.place{
    overflow: hidden;
    margin: auto;
}
.itemDisplay{
    /*max-width: 900px;
    padding: 5px;*/
}
.phoneInList{
    max-width: 90px !important;
}
#leftMenu{
    float: left;
    padding: 10px;
    margin: 5px;
}
#leftMenu input{
    display: block;
    width: 100px;
}
.buttonBlock{
    padding-top: 10px;
}
.carEditForm label{
    display: block;
}
#modal_form {
	/*width: 300px; 
	height: 350px;  Рaзмеры дoлжны быть фиксирoвaны */
        overflow-y: auto;
        overflow-x: hidden;
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 10%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: 0px;
	/*margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
        text-align: center;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
@media print {
    #driverReportDiv{
        width: 210mm;
    }
    .place{
        background: none;
    }
    .noPrint{
        display: none;
    }
    body{
        background: white;
        width: 210mm;
    }
    .listDriver img{
        display: none;
    }
    #formDriver{
        display: none;
    }
}
.logForm form{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    float: left;
    margin: 5px;
    background: white;
}
#formDriver{
    background: white;
}
@media screen {
    .place div{
        /*margin: 5px;*/
        background: #FFFFFF;
    }
    .place{
        /*width: 100%;*/
        /*min-height: 600px;
        margin: auto;
        background-image: url('../img/gelik.png');
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-position: 1170px 250px;*/
    }
    body{
        padding: 5px;
        background: #82a9c5;
        margin: auto;
    }
}
#driverReportDiv{
    width: 210mm;
}
#driverReport{
    border: 1px solid black; 
    border-collapse: collapse;
}
#driverReport td{
    padding: 5px;
    border: 1px solid black
}
.listDriver img{    
    float: right;
    padding-left: 5px;
    height: 20px;
    padding-right: 2px;
    margin-right: 2px;
}
.takeMoney img{
    height: 30px;
}
.white{
    background-color: white;
}
.yellow{
    background-color: #6eff002b !important;
}
.red{
    background-color: rgba(255, 59, 0, 0.45098039215686275) !important;
}
.listDriverTabel{
    overflow: scroll;
    height: 100vh;
}
/*.listDriver{
    margin-top: 5px;
    border: 1px solid black; 
    border-collapse: collapse;
}*/
.listDriver td{
    /*padding: 5px;*/
    white-space: nowrap;
    border-bottom: 1px solid black
}
#takePay{
    display: none;
    float: right !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    float: left;
    margin: 5px;
    background: white;
}
#mainContainer{
    float: left;
    margin: 5px;
    width: 80%;
    padding: 10px;
}
.addDriverForm{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    float: left;
    margin: 5px;
    background: white;;
}
.button{
    cursor: pointer;
    background-color: blue;
    border-radius: 5px;
    width: 100px;
}
.formItem{
    
}
.formItem label{
    padding-right: 5px;
    width: 50px;
}
.formItem input[type="text"]{ /*130px*/
    padding-right: 5px;
    width: 100px;
}
.formItem input[type="date"]{ 
    padding-right: 5px;
    width: 130px;
}
.inp{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 5px;
}
.logForm{
    margin: auto;
    width: 200px;
    padding-top: 50px;
}
.logForm label{
    display: block;
    text-align: center;
    margin: auto;
}
