/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.08.2017, 14:04:25
    Author     : korgan
*/
@media print {
    #driverReportDiv{
        width: 210mm;
    }
    .place{
        background: none;
    }
    .noPrint{
        display: none;
    }
    body{
        background: white;
        width: 210mm;
    }
    .listDriver img{
        display: none;
    }
    #formDriver{
        display: none;
    }
}
.logForm form{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    float: left;
    margin: 5px;
    background: white;
}
#formDriver{
    background: white;
}
@media screen {
    .place{
        width: 100%;
        min-height: 600px;
        background-image: url('../img/gelik.png');
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-position: 1170px 250px;
    }
    body{
        background: #82a9c5;
        width: 1482px;
        margin: auto;
        padding-top: 70px;
    }
}
#driverReportDiv{
    width: 210mm;
}
#driverReport{
    border: 1px solid black; 
    border-collapse: collapse;
}
#driverReport td{
    padding: 5px;
    border: 1px solid black
}
.listDriver img{
    padding-left: 5px;
    height: 20px;
    padding-right: 2px;
    margin-right: 2px;
}
.takeMoney img{
    height: 30px;
}
.white{
    background-color: white;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.listDriver{
    margin-top: 5px;
    border: 1px solid black; 
    border-collapse: collapse;
}
.listDriver td{
    padding: 5px;
    border: 1px solid black
}
#takePay{
    display: none;
    float: right;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    float: left;
    margin: 5px;
    background: white;
}
#listDriver{
    float: left;
}
.addDriverForm{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    float: left;
    margin: 5px;
    background: white;;
}
.button{
    cursor: pointer;
    background-color: blue;
    border-radius: 5px;
    width: 100px;
}
.formItem{
    
}
.formItem label{
    float: left;
    display: block;
}
.inp{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 5px;
}
.logForm{
    margin: auto;
    width: 200px;
    padding-top: 50px;
}
.logForm label{
    display: block;
    text-align: center;
    margin: auto;
}
